<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>Project Description</title>
  <!--link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	</head>
	<body>
	<h1>Описание проекта летней школы программиста 2020</h1>
	<div class="author">
		Автор: Смольников Алексей
	</div>
	<p>В своем проекте я хочу реализовать базу данных с возможностью добавления "ячеек"</p>
	<ul class="ul">Категории
	<li>Фильмы</li>
	<li>Сериалы</li>
	<li>Книги</li>
	</ul>
	<p style="padding: 0px 40px 0px 0px;">В целом, я имею только примерное представление о готовом проекте, однако, могу
	с увереноостью сказать, что это будет картотека с поискои по позициям и возможностью
	их добавления.Сайт будет организован на HTML5 + CSS (Возможно подключение графического редактора), веб приложение на языке Python. Даже прикручу хостинг, не даром ведь выудил <a class="href"  href="https://education.github.com/pack"> GitHub Education</a>.  На этом все, потому что я поняния не имею, что еще можно написать. :)</p>
	</body>
</html>
